
FinanceAPI/obj/Container/ContainerRunContext.cache
FinanceAPI/obj/Container/ContainerName.cache
FinanceAPI/obj/Container/ContainerId.cache
FinanceAPI/obj/Container/ContainerDevelopmentMode.cache
FinanceAPI/.vs/FinanceAPI/v17/.suo
FinanceAPI/.vs/FinanceAPI/v17/.futdcache.v1
FinanceAPI/.vs/FinanceAPI/project-colors.json
FinanceAPI/.vs/FinanceAPI/DesignTimeBuild/.dtbcache.v2
FinanceAPI/.vs/FinanceAPI/DesignTimeBuild/.dtbcache.v2
*.cache
*.cache
*.v2
FinanceAPI/bin/Debug/net6.0/ref/FinanceAPI.dll
Finance.Core/obj/Debug/net6.0/Finance.Core.csproj.AssemblyReference.cache
FinanceAPI/.vs/FinanceAPI/DesignTimeBuild/.dtbcache.v2
FinanceAPI/.vs/FinanceAPI/project-colors.json
FinanceAPI/.vs/FinanceAPI/v17/.futdcache.v1
FinanceAPI/.vs/FinanceAPI/v17/.suo
FinanceAPI/bin/Debug/net6.0/FinanceAPI.deps.json
FinanceAPI/bin/Debug/net6.0/FinanceAPI.dll
FinanceAPI/bin/Debug/net6.0/FinanceAPI.pdb
FinanceAPI/bin/Debug/net6.0/ref/FinanceAPI.dll
FinanceAPI/bin/Debug/net6.0/Finance.Models.dll
FinanceAPI/bin/
FinanceAPI/obj/
Finance.Core/obj/
FinanceAPI/.vs/FinanceAPI/DesignTimeBuild/.dtbcache.v2
FinanceAPI/.vs/FinanceAPI/v17/.suo
FinanceAPI/obj/Debug/net6.0/FinanceAPI.csproj.AssemblyReference.cache
