
FinanceAPI/obj/Container/ContainerRunContext.cache
FinanceAPI/obj/Container/ContainerName.cache
FinanceAPI/obj/Container/ContainerId.cache
FinanceAPI/obj/Container/ContainerDevelopmentMode.cache
FinanceAPI/.vs/FinanceAPI/v17/.suo
FinanceAPI/.vs/FinanceAPI/v17/.futdcache.v1
FinanceAPI/.vs/FinanceAPI/project-colors.json
FinanceAPI/.vs/FinanceAPI/DesignTimeBuild/.dtbcache.v2
FinanceAPI/.vs/FinanceAPI/DesignTimeBuild/.dtbcache.v2
